#logo {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
<<<<<<< HEAD
#myTable {margin:40px;font-size:1.25em;}
table { border:2px solid #7f7f7f;}
td {border:1px solid #7f7f7f;  padding:50px  }
=======

#myTable {
    margin-left: 100px;
    margin-top: 40px;
    font-size: 1.25em;
}

table {
    border: 2px solid #7f7f7f;
}

td {
    border: 1px solid #7f7f7f;
    padding: 10px;
    width: 50px;
}
>>>>>>> 3e36d1d29dc9fd35b35c3076036bac1dd972a75f

#start {
    position: absolute;
    left: 900px;
    top: 150px;
    font-size: 30px;
    width: 300px;
    background-color: lawngreen;
    color: white;
}

#size {
    position: absolute;
    left: 900px;
    top: 285px;
    font-size: 30px;
}

#time {
    position: absolute;
    left: 900px;
    top: 500px;
    font-size: 30px;
    font-style: oblique;
}

#solve {
    position: absolute;
    left: 100px;
    top: 550px;
    font-size: 30px;
    background-color: black;
    color: red;
    width: 200px;
}

#box {
    position: absolute;
    left: 900px;
    top: 320px;
    font-size: 20px;
    width: 300px;
    height: 30px;
    text-align-last: center;
}