#logo {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#myTable {
    position: absolute;
    top: 100 px;
    left: 50px;
}

td {
    padding: 10px;
    width: 50px;
    background-color: aqua;
}

#start {
    position: absolute;
    left: 900px;
    top: 150px;
    font-size: 30px;
    width: 300px;
    background-color: lawngreen;
    color: white;
}

#size {
    position: absolute;
    left: 900px;
    top: 285px;
    font-size: 30px;
}

#solve {
    position: absolute;
    left: 100px;
    top: 550px;
    font-size: 30px;
    background-color: black;
    color: red;
    width: 200px;
}

#box {
    position: absolute;
    left: 900px;
    top: 320px;
    font-size: 20px;
    width: 300px;
    height: 30px;
    text-align-last: center;
}

#timer {
    position: absolute;
    border: red solid 2px;
    font-size: 25px;
    top: 450px;
    left: 900px;
    width: 180px;
    padding: 5px;
}

#author {
    position: absolute;
    top: 600px;
}

.vl {
    position: absolute;
    left: 880px;
    top: 116px;
    border-left: 3px solid gray;
    height: 508px;
}